*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;

}
body{
    height: 150vh;
}
nav{
    position: sticky;
    top: 0;
    z-index: 500;
}
.navBarContainer{
    background-color: wheat;
    
}
.navLinks{
    display: flex;
    gap: 50px;
    list-style: none;
    padding: 15px;
    
}
.lnk{
    font-size: 2rem;
    padding: 8px 16px;
    transition: 0.3s ease-in;
    

}
.lnk:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 10px;
    transform: translateY(-10px);
     
}
.container{
    border: 2px solid red;
    margin: 20px;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    /* grid-template-rows: 90px 50px 70px; */
    z-index: 100;
    /* grid-auto-columns: auto; */
    /* grid-auto-rows: auto; */
    z-index: 110;
}

.box{
    border: 2px solid green;
    padding: 12px;
    z-index: 100;
}
.boxContainer{
    height: 300px;
    width: 100vw;
    border: 2px solid cyan;
     display: flex;
    justify-content: center;
    /* align-content: center; */
    /* justify-items: center; */
    align-items: center;
}
.boxContainerBoxes{
    height: 100px;
    width: 100px;
    border: 2px solid cyan;
    color: teal;
    background-color: teal;
    position: absolute;
    transition: 1s;
   

}
.boxContainerBoxes:nth-child(2){
    background-color: blue;
    z-index: 3;
    animation: square 2s infinite;
}

.boxContainerBoxes:nth-child(1){
    background-color: teal;
    z-index: 2;
}
.boxContainerBoxes:hover{
    border: 2px solid cyan;
    background-color: teal;
    transform: rotate(360deg);
    border-radius: 50%;
    

}

@keyframes square{
    from{
        background-color: aqua;
        transform: rotate(360deg);
    }
    to{
        background-color: teal;
        border-radius: 50%;
        /* transform: scale(-2); */
        /* transform: rotate(360deg); */
    }
}

.container_1{
    border: 2px solid purple;
    height: 410px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
    /* animation: square 2s infinite reverse; */
}

.box_1{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 100; */
    /* position: absolute; */
    transition: 1s;
    /* animation: square 2s infinite ease reverse; */
    
}
.box_1:nth-child(1){
    background-color: orange;
    z-index: 5;
    
}
.box_1:nth-child(2){
    background-color: grey;
    z-index: 5;
}
.box_1:hover{
    transform: rotate(360deg);
    border-radius: 50%;
    background-color: gold;
}

@media (max-width: 640px ){
    .container{

    }
}
   @media (min-width: 1024) {
            .container {
                grid-template-columns: 1fr 1fr 1fr;
                background-color: aqua;
            }
        }

        @media (max-width: 768px) {
            .container {
                grid-template-columns: 1fr 1fr;
                background-color: yellowgreen;
            }
        }

        @media (max-width: 640px) {
            .container {
                grid-template-columns: 1fr;
                background-color: aqua;
            }
        }