body{
    background-color: antiquewhite;
}
.box{
    height: 200px;
    width: 200px;
    background-color: teal;
    margin: 100px auto;
    transition: all 0.5s;
}
.box:hover{
    background-color: purple;
    border-radius: 50%; 
    transform: rotate(180deg);

}
h1{
    text-align: center;
    color: chocolate;
    border-bottom: 2px solid;
    padding: 5px;
    /* margin: 20px; */
}

.list{
    display: flex;
    gap: 50PX;
    list-style: none;
}
.item{
    font-size: 2rem;
    padding: 8px 16px;
    transition: 0.3s ease-in;
    /* transition-delay: 0.5s; */
    /* transition-property: col; */

}
.item:hover{
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 20px;
    transform: translateY(-10px);
     
}
